<div fxLayout="row" fxLayoutAlign="center" style="padding-top: 30px;">
  <mat-card>
    <mat-card-title>Contact Form</mat-card-title>
    <mat-card-content>
      <form [formGroup]="contactForm" novalidate>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter full name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter number" formControlName="contactNumber" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" *ngIf="mode === 'new'" [disabled]="contactForm.invalid" (click)="saveContact()">SAVE</button>
      <button mat-raised-button color="primary" *ngIf="mode === 'edit'" [disabled]="contactForm.invalid" (click)="updateContact()">UPDATE</button>
      <button mat-raised-button (click)="resetForm()">RESET</button>
    </mat-card-actions>
    <mat-card-title *ngIf="this.recentList.length>0">Contact List</mat-card-title>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" *ngIf="this.recentList.length>0">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Full Name</th>
          <th class="mdl-data-table__cell--non-numeric">Email</th>
          <th class="mdl-data-table__cell--non-numeric">Contact Number</th>
          <th class="mdl-data-table__cell--non-numeric">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of recentList">
          <td class="mdl-data-table__cell--non-numeric">{{item.name}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{item.email ? item.email : "--"}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{item.contactNumber}}</td>
          <td class="mdl-data-table__cell--non-numeric table-item-actions">
            <button mat-icon-button color="primary" (click)=editContact(item)>
              <mat-icon class="action-icon action-icon--edit">edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)=deleteContact(item)>
              <mat-icon class="action-icon action-icon--edit">delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>